In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
CheckinInfo=pd.read_csv('/content/gdrive/My Drive/Dataset/checkin_bj_uniq.txt',header=None,sep='\t')
CheckinInfo.columns=['User_id','Time','latitude','longititude','Item_id']
CheckinInfo.head()

,User_id,Time,latitude,longititude,Item_id
0,1000030044,2011/10/11 17:01:59,36.677125,117.023793,j:3D6A0B8EF0FB83BD
1,1000030044,2011/10/15 14:33:07,40.167353,116.565249,j:351926FDF2BF794A
2,1000030044,2011/10/20 16:47:18,39.895401,116.322000,j:EB34D7A2DCA7F021
3,1000030044,2011/10/26 12:38:23,38.043217,114.481255,j:7C22E78A6E6BC3FFD7807B30A00D0CF2
4,1000030044,2011/10/29 10:33:20,39.953124,116.492071,j:8DFC0EDFDD5E6858

In [3]:
a1=CheckinInfo.groupby( [ "User_id", "Item_id"] ).size().to_frame(name = 'count').reset_index()
a1.User_id = a1.User_id.astype('int64')
a1.head()

   User_id                             Item_id  count
0    35277  j:10E9607042FA4C19FDDA3A22DF6827E2      1
1    35277  j:2A5B81DA6F5C5BF2F31CADF8DEB95C83      1
2    35277                  j:30AA215F8201EFE4      1
3    35277  j:36D2C18C049A2D22CEC4DEB66516CBE6      1
4    35277                  j:7BD38B2850CA6CCE      1

In [4]:
import pandas as pd
UserProfile=pd.read_csv('/content/gdrive/My Drive/Dataset/weiboUserProfile_csv.txt',header=None,sep=':')
UserProfile.columns=['User_id','Place','Gender','Year','Horoscope']
UserProfile.User_id = UserProfile.User_id.astype('int64')
UserProfile.head()

      User_id                     Place  Gender    Year Horoscope
0  1381078220   Shanghai Putuo District  female     NaN       NaN
1  1723807154  Xuhui District, Shanghai    male     NaN       Leo
2  1500165530  Shanghai Pudong New Area  female  1989.0       NaN
3  1246687181  Shanghai Pudong New Area  female     NaN  Aquarius
4  1871921945                  Shanghai  female  1982.0       NaN

In [5]:
Checkin_user=pd.merge(a1,UserProfile,on='User_id')
Checkin_user.head()

,User_id,Item_id,count,Place,Gender,Year,Horoscope
0,35277,j:10E9607042FA4C19FDDA3A22DF6827E2,1,"Dongcheng District, Beijing",male,1986.0,NaN
1,35277,j:2A5B81DA6F5C5BF2F31CADF8DEB95C83,1,"Dongcheng District, Beijing",male,1986.0,NaN
2,35277,j:30AA215F8201EFE4,1,"Dongcheng District, Beijing",male,1986.0,NaN
3,35277,j:36D2C18C049A2D22CEC4DEB66516CBE6,1,"Dongcheng District, Beijing",male,1986.0,NaN
4,35277,j:7BD38B2850CA6CCE,1,"Dongcheng District, Beijing",male,1986.0,NaN

In [6]:
LocationProfile=pd.read_csv('/content/gdrive/My Drive/Dataset/poiInfo_jiepang.txt',header=None,sep=',')
LocationProfile.columns=['Item_id','Latitude','Longitude','Place','Comment_1','Comment_2']
LocationProfile.head()

,Item_id,Latitude,Longitude,Place,Comment_1,Comment_2
0,j:1A4F169FAF4A8E,31.240782,121.548460,shanghai,Leisure / Entertainment / Culture,Cinema
1,j:229AF0E87884E5D7E9B827A442E07E4B,22.297639,114.178022,NaN,NaN,NaN
2,j:15805000759218470558,22.297428,114.172607,overseas,Public institution/office/residential,Apartment / Community / Lane
3,j:2551510332343224024,-33.815418,151.003494,overseas,NaN,NaN
4,j:494CC18DC9A57D3B1770D5560DC6681F,23.900358,120.587242,changhua,Public institution/office/residential,Office/office

In [7]:
Checkin_user_item=pd.merge(Checkin_user,LocationProfile,on='Item_id')
Checkin_user_item.head()

,User_id,Item_id,count,Place_x,Gender,Year,Horoscope,Latitude,Longitude,Place_y,Comment_1,Comment_2
0,35277,j:10E9607042FA4C19FDDA3A22DF6827E2,1,"Dongcheng District, Beijing",male,1986.0,NaN,39.933199,116.437663,beijing,Leisure / Entertainment / Culture,theater
1,1032376922,j:10E9607042FA4C19FDDA3A22DF6827E2,1,Beijing Chongwen District,male,NaN,NaN,39.933199,116.437663,beijing,Leisure / Entertainment / Culture,theater
2,1034395740,j:10E9607042FA4C19FDDA3A22DF6827E2,2,NaN,NaN,NaN,NaN,39.933199,116.437663,beijing,Leisure / Entertainment / Culture,theater
3,1034842062,j:10E9607042FA4C19FDDA3A22DF6827E2,1,NaN,NaN,NaN,Virgin,39.933199,116.437663,beijing,Leisure / Entertainment / Culture,theater
4,1053904037,j:10E9607042FA4C19FDDA3A22DF6827E2,1,"Changping District, Beijing",male,NaN,NaN,39.933199,116.437663,beijing,Leisure / Entertainment / Culture,theater

In [8]:
Checkin_user_item["Gender"]=Checkin_user_item["Gender"].astype('str')
Checkin_user_item["Horoscope"]=Checkin_user_item["Horoscope"].astype('str')
Checkin_user_item["Comment_1"]=Checkin_user_item["Comment_1"].astype('str')
Checkin_user_item["Comment_2"]=Checkin_user_item["Comment_2"].astype('str')
Checkin_user_item["Place_y"]=Checkin_user_item["Place_y"].astype('str')
Checkin_user_item["Year"]=Checkin_user_item["Year"].astype(float)
Checkin_user_item["Year"]=Checkin_user_item["Year"].fillna(0).astype(int)
Checkin_user_item["Year"]=( 2019 - Checkin_user_item["Year"])
Checkin_user_item["Year"][Checkin_user_item.Year == 2019]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [0]:
d_item_place_cat = {}
for index,row in Checkin_user_item.iterrows():
  if row.Item_id not in d_item_place_cat.keys():
    d_item_place_cat[row.Item_id]=[row.Place_y,row.Comment_2]

In [0]:
#popular place recommendation for new users

user_gender = 'male'
user_age = 30
user_place = 'zunyi'
user_pref = 'theater'

In [0]:
#similar gender + age + place + category
print_list = [] 

a=Checkin_user_item[(Checkin_user_item.Gender == user_gender)  & (Checkin_user_item.Year >= user_age - 5) & (Checkin_user_item.Year <= user_age + 5) & (Checkin_user_item.Place_y == user_place) & (Checkin_user_item.Comment_2 == user_pref)]
if (a.shape[0] != 0):
  a = a.sort_values('count',ascending=[False])
  for i in a.Item_id.unique()[0:(a.shape[0] if a.shape[0] < 3 else 3)]:
    print_list.append([str(i),str(d_item_place_cat[i])])  
#similar gender + age + place
a=Checkin_user_item[(Checkin_user_item.Gender == user_gender)  & (Checkin_user_item.Year >= user_age - 5) & (Checkin_user_item.Year <= user_age + 5) & (Checkin_user_item.Place_y == user_place)]
if (a.shape[0] != 0):
  a = a.sort_values('count',ascending=[False])
  for i in a.Item_id.unique()[0:(a.shape[0] if a.shape[0] < 3 else 3)]:
    print_list.append([str(i),str(d_item_place_cat[i])])     
#popular category
abc=Checkin_user_item.groupby(['Item_id','Comment_2'])[["count"]].sum().reset_index()
abc = abc.sort_values('Comment_2')
abc.Comment_2 = abc.Comment_2.astype('str')

temp = abc[abc['Comment_2'] == user_pref]['count'].idxmax()
print_list.append([str(abc.loc[temp][0]),str(d_item_place_cat[abc.loc[temp][0]]),"[most popular place in User_category]"])

#popular place_y
abc=Checkin_user_item.groupby(['Item_id','Place_y'])[["count"]].sum().reset_index()
abc = abc.sort_values('Place_y')
abc.Place_y = abc.Place_y.astype('str')

temp = abc[abc['Place_y'] == user_place]['count'].idxmax()
print_list.append([str(abc.loc[temp][0]),str(d_item_place_cat[abc.loc[temp][0]]),"[most popular place in User_place]"])

In [50]:
print('[Popular areas based on preferences]')
col_width = max(len(word) for row in print_list for word in row) + 2  # padding
for row in print_list:
    print("".join(word.ljust(col_width) for word in row))

[Popular areas based on preferences]
j:40B4274C0A4E9801                     ['zunyi', 'train station']
j:34DEE777FD61B6E4                     ['zunyi', 'historical landmark']
j:4424CA5F6E5B955A478B2B301C682EA4     ['zunyi', 'Apartment Hotel']
j:48B60A9FAE23CCEB                     ['beijing', 'theater']                 [most popular place in User_category]
j:34DEE777FD61B6E4                     ['zunyi', 'historical landmark']       [most popular place in User_place]